1. Create one variable containing following type of data:
(i) string
(ii) list
(iii)float
(iv)tuple

In [10]:
l=("Rishi","Pwskills",23.56,[23,45,89,"Kumar"],("Data Science 2.0"))

In [11]:
type(l)

tuple

In [12]:
for i in l:
    print(type(i))

<class 'str'>
<class 'str'>
<class 'float'>
<class 'list'>
<class 'str'>

Q2. Given are some following variables containing data


(i)var1 = ‘ ‘..............Type Of Data Is str.

(ii)var2 = ‘[ DS , ML , Python]’............Type Of Data Is str.

(iii)var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]..............Type Of Data Is list.

(iv)var4 = 1.................................Type Of Data Is int.

In [13]:
var1 = ''

In [14]:
type(var1)

str

In [15]:
var2 = '[ DS , ML , Python]'

In [16]:
type(var2)

str

In [18]:
var3 = [ 'DS' , 'ML' , 'Python' ]

In [19]:
type(var3)

list

In [20]:
var4 = 1

In [21]:
type(var4)

int

Q3. Explain the use of the following operators using an example:

(i)	/

(ii)	% 

(iii)	//

(iv)	**

In [22]:
4/3

1.3333333333333333

In [34]:
3/4          #the / operator is the division operator.

0.75

In [33]:
6%4            #The % operator is known as the modulo operator or remainder operator.

2

In [32]:
56//2              #The "//" operator is called the floor division or integer division operator.It performs division between two numbers and returns the quotient as an integer,discarding any fractional part.

28

In [35]:
2**3            #the double asterisk (**) is an operator used for exponentiation or raising a number to a power. It performs exponentiation by taking the base number and raising it to the power specified.

8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the 
element and its data type

In [38]:
l=[12,45,7,"rishi",'pwskills',23.56,{5,6,5,8},True,False,("Rishi")]

In [39]:
for i in l :
    print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'set'>
<class 'bool'>
<class 'bool'>
<class 'str'>

In [41]:
len(l)

10

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many 
times it can be divisible.

In [19]:
A = 500
B = 25

count = 2

while A % B == 0:
    A /= B
    count += 1

if count > 0:
    print(f"{A} is divisible by {B} and can be divided {count} times.")
else:
    print(f"{A} is not divisible by {B}.")

20.0 is divisible by 25 and can be divided 3 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is 
divisible by 3 or not

In [3]:
l=[23,23,24,26,28,27,56,45,48,43,15,18,21,81,87,92,3,102,99,93,54,78,69,33,55]

In [4]:
len(l)

25

In [24]:
for i in l:
    if i % 3 == 0:
        print(f"{i} is divisible by 3")
    else:
        print(f"{i} is not divisible by 3")

23 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
26 is not divisible by 3
28 is not divisible by 3
27 is divisible by 3
56 is not divisible by 3
45 is divisible by 3
48 is divisible by 3
43 is not divisible by 3
15 is divisible by 3
18 is divisible by 3
21 is divisible by 3
81 is divisible by 3
87 is divisible by 3
92 is not divisible by 3
3 is divisible by 3
102 is divisible by 3
99 is divisible by 3
93 is divisible by 3
54 is divisible by 3
78 is divisible by 3
69 is divisible by 3
33 is divisible by 3
55 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing 
this property.

Mutable and immutable are terms used to describe whether a data type can be modified after it is created.

Immutable data types cannot be modified once they are created. If you want to change the value of an immutable object, you need to create a new object with the updated value.

1.Integers: Once an integer is created, its value cannot be changed. For example:

In [26]:
x = 5
x += 1  # This creates a new integer object with the value 6

In [27]:
x

6

Strings: Strings are immutable in Python. Any operation that appears to modify a string actually creates a new string object. For example:

In [28]:
name = "Alice"
name += " Smith"  # This creates a new string object with the value "Alice Smith"

In [29]:
name

'Alice Smith'

Tuples: Tuples are immutable sequences. Once created, the elements of a tuple cannot be modified. For example:

In [30]:
my_tuple = (1, 2, 3)
# Attempting to modify the tuple will result in an error:
# my_tuple[0] = 10  # This will raise a TypeError

In [33]:
my_tuple [0] =10

TypeError: 'tuple' object does not support item assignment

On the other hand, mutable data types can be modified after they are created. Examples of mutable data types in Python include:

In [4]:
l = [1, 2, 3]
l.append(4)  # Adds 4 to the end of the list
l[0] = 10  # Modifies the first element of the list

In [5]:
l

[10, 2, 3, 4]

Dictionaries: Dictionaries are mutable mappings. Key-value pairs can be added, removed, or modified in a dictionary. For example:

In [6]:
my_dict = {"name": "John", "age": 25}
my_dict["age"] = 26  # Modifies the value associated with the "age" key
my_dict["city"] = "New York"  # Adds a new key-value pair to the dictionary

In [7]:
my_dict

{'name': 'John', 'age': 26, 'city': 'New York'}

Sets: Sets are mutable collections of unique elements. Elements can be added or removed from a set. For example:

In [8]:
my_set = {1, 2, 3}
my_set.add(4)  # Adds 4 to the set
my_set.remove(2)  # Removes 2 from the set

In [9]:
my_set

{1, 3, 4}